<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="GET">
      <label for="name">Team name:</label><input id="name" type="text" name="name">
      <label for="coach">Coach:</label><input id="coach" type="text" name="coach">
      <label for="pg">Point Guard:</label><input id="pg" type="text" name="pg">
   </form>
 </body>
</html>


